.blog_content_main {
    display: flex;
    flex-direction: column;
    padding: relative;
    margin-left: 170px;
    margin-right: 30px;
    min-height: 700px;
    margin-top: 60px;
    gap: 1em;
}

.blog_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog_cover {
    height: 250px;
    width: 200px;
}