.ebook_dummy_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: relative;
    margin-left: 170px;
    margin-right: 30px;
    min-height: 700px;
    margin-top: 60px;
    gap: 1rem;
}

.book_image {
    height: 180px;
    width: 140px;
}

.book_content_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #FDFBFB;
    padding: 30px;
}

.book_content_div h6 {
    max-width: 200px;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: bold;
    font-family: Kalpurush;
}

.like_comment_padding {
    padding: 0px 2px;
    margin-top: -5px;
    margin-right: 10px;
}

.book_content_margin_div {
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(235, 235, 235);
    /* box-shadow: 2px 2px 2px 2px rgba(112, 112, 112, 1); */
    width: 35vh;
    /* height: 45vh; */
}