.footer_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    background: #CEE9FD;
    position: inherit;
    margin-top: 30px;
    border-top: 4px solid #0C6395;
}


.footer_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 10px;   
}

.border_div {
    background: #5b6469;
    width: 1px;
    height: 10vh;
}

.footer_div p{
    font-size: 12px;
    font-weight: bold;
}

.footer_left {
    display: flex;
    align-items: center;
}

.footer_left p{
    margin-top: 3px;
    color: #0C6395;
}
.footer_bangladesh {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: -10px;
}

.footer_dream {
    height: 25px;
    width: 80px;
    margin-top: -10px;
}

.footer_google {
    height: 25px;
    width: 80px;
    margin-top: -10px;
}

.footer_apple {
    height: 25px;
    width: 80px;
    margin-left: 4px;
    margin-top: -10px;
}

.footer_copyright {
    padding-top: 15px;
}