.forum_content_main {
    display: flex;
    flex-direction: column;
    padding: relative;
    margin-left: 40px;
    /* vh means display height */
    min-height: calc(100vh - 225px);
    margin-top: 60px;
    gap: 1em;
}